.episodes {

}

.title__episodes {
    width: 90vw;
    margin-left: 6vw;
    margin-top: 45px;
    display: flex;
    align-items: center;
}

.latest__episodes {
    font-weight: 400;
    font-size: 64px;
    line-height: 124%;
    letter-spacing: 0.05em;
    position: absolute;
}

.btn__view__episodes {
    background-color: #118DA8;
    width: 178px;
    height: 51px;
    border-radius: 6px;
    border: none;
    position: absolute;
    right: 6vw;
    font-weight: 400;
    font-size: 14px;
    line-height: 159%;
}

.block__episode {
    width: 90vw;
    height: 550px;
    background-color: black;
    margin-top: 100px;
    margin-left: 5vw;
    display: flex;
}

.img__episode {

}

.description__episode {

}

.gear {
    width: 73px;
    height: 27px;
    background-color: #191919;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    text-align: center;
    border-radius: 6px;
}

.tips__tricks {
    width: 136px;
    height: 27px;
    background-color: #191919;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    text-align: center;
    border-radius: 6px;
}

.num__episode {
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    color: #118da8;
}

.title__episode {
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.01em;
}

.text__episode {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
}

.btn_details {
    width: 208px;
    height: 51px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    background-color: #118DA8;
    border-radius: 6px;
}

