.title__episodes {
    width: 90vw;
    margin-left: 6vw;
    margin-top: 45px;
    display: flex;
    align-items: center;
}

.latest__episodes {
    font-weight: 400;
    font-size: 64px;
    line-height: 124%;
    letter-spacing: 0.05em;
    position: absolute;
}

.btn__view__episodes {
    background-color: #118DA8;
    width: 178px;
    height: 51px;
    border-radius: 6px;
    border: none;
    position: absolute;
    right: 6vw;
    font-weight: 400;
    font-size: 14px;
    line-height: 159%;
    cursor: pointer;
}

.block__episode {
    width: 90vw;
    height: 550px;
    background-color: black;
    margin-top: 100px;
    margin-left: 5vw;
    border-radius: 32px;
    display: flex;
}

.block__episode:last-child {
    margin-bottom: 100px;
}

.img__episode {
    border-radius: 32px 0 0 32px;
}

.description__episode {
    align-self: center;
    margin-left: 2vw;
    padding-right: 25px;
}

.gear {
    width: 73px;
    height: 27px;
    background-color: #191919;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 6%;
}

.tips__tricks {
    width: 136px;
    height: 27px;
    background-color: #191919;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 2%;
}

.num__episode {
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    color: #118da8;
    margin-bottom: 2%;
}

.title__episode {
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.01em;
    margin-bottom: 2%;
}

.text__episode {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2%;
}

.btn_details {
    width: 208px;
    height: 51px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    background-color: #118DA8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


@media (max-width: 1140px) {
    .img__episode {
        object-fit: cover;
        width: 40%;
        height: 100%;
    }

    .title__episode {
        font-size: 44px;
    }

    .text__episode {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .title__episode {
        font-size: 36px;
    }

    .text__episode {
        font-size: 14px;
        line-height: 160%;
    }
}