.episodes {

}

.title__episodes {
    width: 90vw;
    margin-left: 6vw;
    margin-top: 45px;
    display: flex;
    align-items: center;
}

.latest__episodes {
    font-weight: 400;
    font-size: 64px;
    line-height: 124%;
    letter-spacing: 0.05em;
    position: absolute;
}

.btn__view__episodes {
    background-color: #118DA8;
    width: 178px;
    height: 51px;
    border-radius: 6px;
    border: none;
    position: absolute;
    right: 6vw;
    font-weight: 400;
    font-size: 14px;
    line-height: 159%;
}

.block__episode {
    width: 90vw;
    height: 550px;
    background-color: black;
    margin-top: 100px;
    margin-left: 5vw;
    display: flex;
}

.img__episode {

}

.description__episode {

}

.gear {

}

.num__episode {

}

.title__episode {

}

.text__episode {

}

.btn_details {

}

