.header__container {
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
}

.logo {
    width: 160px;
}

.list__pages {
    display: flex;
}

.item__page {
    list-style: none;
    color: #fff;
    cursor: pointer;
}
