.header__container {
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    width: 20vw;
    position: absolute;
    left: 3vw;
}

.list__pages {
    display: flex;
    position: absolute;
    right: 3vw;
}

.item__page {
    list-style: none;
    color: #fff;
    cursor: pointer;
}

.item__page:not(:last-child) {
    padding-right: 40px;
}
