.home__container {
    width: 100%;
    height: 913px;
    display: flex;
}

.home__img {
    width: 45vw;
}

.home__text {
    width: 35vw;
    font-weight: 400;
    font-size: 70px;
    line-height: 126%;
    letter-spacing: 0.05em;
    color: #fff;
}

.listen {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.listen__platforms {
    display: flex;
    list-style: none;
}