.home__container {
    width: 100%;
    height: 770px;
    margin-left: 5vw;
    display: flex;
}

.home__img {
    background-size: auto;
    height: 750px;
}

.home__description {
    margin-left: 5vw;
}

.home__text {
    width: 35vw;
    margin-top: 200px;
    font-weight: 400;
    font-size: 70px;
    line-height: 126%;
    letter-spacing: 0.05em;
}


.listen {
    font-weight: 400;
    font-size: 15px;
    margin-top: 70px;
}

.listen__platforms {
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.item__platforms:not(:last-child) {
    margin-right: 17px;
}