.reviews {
    width: 96vw;
    margin-left: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

.block__reviews {
    border-radius: 32px;
    width: 30%;
    height: 321px;
    background-color: black;
    margin-right: 16px;
    margin-bottom: 16px;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.stars {
    margin-bottom: 5%;
}

.text__review {
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 7%;
}

.author__review {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1300px) {
    .text__review {
        font-size: 26px;
    }   
}

@media (max-width: 1140px) {
    .text__review {
        font-size: 24px;
    }   
}

@media (max-width: 1024px) {
    .text__review {
        font-size: 22px;
    }   
}